* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hero-game {
    width: 640px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}


/*-----Starting Page-----*/

#starting-page {
    width: 100vw;
    height: 100vh;
    background: black;
    text-align: center;
    overflow: hidden;
}

#game-logo {
    width: 100vw;
    height: 60vh;
}

.game-title {
    font-family: "Bangers", cursive, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.div {
    height: 15vh;
}


/*-----/Starting Page-----*/


/*----Cards and Flips----*/

.hero-card {
    width: 86px;
    height: 86px;
    margin: 5px;
    float: left;
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.hero-card:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.hero-card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-face {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: aliceblue;
}


/*----/Cards and Flips----*/


/*----Game info----*/

.game-info {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

.button-container {
    height: 40px;
}


/*----/Game info----*/


/*----Fonts----*/

h1 {
    font-family: "Bangers", cursive, sans-serif;
    color: rgb(36, 36, 46);
    font-size: 70px;
}

h2 {
    font-family: "Bangers", cursive, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px #ffffff;
}

h4 {
    text-align: center;
    font-family: "Bangers", cursive, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px #db5656;
}

.red-text {
    color: red;
}

.blinking {
    margin: auto auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    -webkit-animation: blinkingText 1.6s infinite ease-in-out;
    animation: blinkingText 1.6s infinite ease-in-out;
}


/*----/Fonts----*/


/*----Title Containers----*/

.title-container {
    margin: auto;
    width: 100%;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.dc-title-container {
    -webkit-box-shadow: 5px 10px rgba(143, 154, 255, 0.1);
    box-shadow: 5px 10px rgba(143, 154, 255, 0.1);
    background: rgba(143, 154, 255, 0.3);
}

.marvel-title-container {
    -webkit-box-shadow: 5px 10px rgba(255, 142, 142, 0.1);
    box-shadow: 5px 10px rgba(255, 142, 142, 0.1);
    background: rgba(255, 142, 142, 0.3);
}

.top-buttons {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
}


/*----/Title Containers----*/


/*----Cursors----*/

.blue-cursor {
    cursor: url("../cursors/BlueGlowingCursor.cur"), default;
}

.red-cursor {
    cursor: url("../cursors/RedGlowingCursor.cur"), default;
}


/*----/Cursors----*/


/*----Background Images----*/

.dc-background {
    background-image: url("../images/dc/dc_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.marvel-background {
    background-image: url("../images/marvel/marvel_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.victory-bg {
    background-image: url("../images/victory.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}


/*----/Background Images----*/


/*-----Modal-----*/

.modal-image {
    height: 135px;
    width: 135px;
    float: left;
}

.modal-body {
    max-width: 100vw;
}

#victory-modal {
    background-image: url("../images/victory.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    width: 100vw;
}

#defeat-modal {
    background-image: url("../images/defeat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

#victory-modal-text {
    font-size: 26px;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;
    font-size: 30px;
    padding-left: 14px;
}

.fade {
    min-width: 100%;
    margin: 0;
}

.modal-title {
    font-size: 80px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/*-----/Modal-----*/

@-webkit-keyframes blinkingText {
    0% {
        color: #000;
    }
    20% {
        color: #000;
    }
    49% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    80% {
        color: #000;
    }
    100% {
        color: #000;
    }
}

@keyframes blinkingText {
    0% {
        color: #000;
    }
    20% {
        color: #000;
    }
    49% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    80% {
        color: #000;
    }
    100% {
        color: #000;
    }
}

@media screen and (min-width: 360px) {
    .hero-card {
        height: 100px;
        width: 100px;
    }
    .modal-image {
        height: 155px;
        width: 155px;
        float: left;
    }
    .blinking {
        font-size: 38px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 361px) {
    .hero-card {
        height: 105px;
        width: 105px;
    }
    .modal-image {
        height: 162px;
        width: 162px;
        float: left;
    }
    .modal-title {
        font-size: 110px;
    }
    .blinking {
        font-size: 40px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 410px) {
    .hero-card {
        height: 117px;
        width: 117px;
    }
    .modal-image {
        height: 180px;
        width: 180px;
        float: left;
    }
    .blinking {
        font-size: 44px;
    }
}

@media screen and (min-width: 768px) {
    .hero-game {
        margin-top: 80px;
    }
    .hero-card {
        height: 142px;
        width: 142px;
    }
    #game-logo {
        width: 100vw;
        height: 60vh;
    }
    .modal-image {
        height: 233px;
        width: 233px;
    }
    .game-title {
        font-family: 'Bangers', cursive, sans-serif;
        padding-top: 20px;
        color: rgb(243, 243, 243);
        font-size: 150px;
    }
    .modal-title {
        font-size: 180px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-game {
        margin-top: 60px;
        width: 800px;
    }
    .hero-card {
        height: 182px;
        width: 182px;
    }
    .game-title {
        font-family: 'Bangers', cursive, sans-serif;
        padding-top: 50px;
        color: rgb(243, 243, 243);
        font-size: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-game {
        margin-top: 20px;
        width: 1000px;
    }
    .hero-card {
        height: 224px;
        width: 232px;
    }
    #game-logo {
        width: 60vw;
        height: 60vh;
    }
}