* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    overflow: hidden;
}


/*-----Starting Page-----*/

#starting-page {
    width: 100vw;
    height: 100vh;
    background: black;
    text-align: center;
    overflow: hidden;
}

#game-logo {
    width: 100vw;
    height: 60vh;
}


/*-----/Starting Page-----*/

.hero-game {
    width: 640px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.hero-card {
    width: 86px;
    height: 86px;
    margin: 5px;
    float: left;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.hero-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.hero-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
    background: aliceblue;
}

.game-info-container {
    float: left;
    margin-bottom: 5px;
}

.game-info {
    float: left;
    font-family: 'Schoolbell', cursive;
}


/*----Fonts----*/

h1 {
    font-family: "Bangers", cursive;
}

.dc-background {
    background-image: url("../images/dc/dc_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.marvel-background {
    background-image: url("../images/marvel/marvel_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.title-container {
    margin: auto;
    width: 100%;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 10px;
    background: rgba(244, 244, 244, 0.4);
}


/*-----Modal-----*/

.modal-image {
    height: 140px;
    width: 140px;
    float: left;
}

.modal-body {
    max-width: 100vw;
}

h5 {
    text-align: center;
}

@media screen and (min-width: 360px) {
    .hero-card {
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 361px) {
    .hero-card {
        height: 103px;
        width: 103px;
    }
}

@media screen and (min-width: 410px) {
    .hero-card {
        height: 115px;
        width: 115px;
    }
}

@media screen and (min-width: 768px) {
    # .hero-game {
        margin-top: 100px;
    }
    .hero-card {
        height: 142px;
        width: 142px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-game {
        margin-top: 100px;
        width: 800px;
    }
    .hero-card {
        height: 182px;
        width: 182px;
    }
}


/*
@media screen and (min-width: 375px) {
    .hero-card {
        height: 100px;
        width: 100px;
    }
}
*/


/*-----/Modal-----*/


/*-----/Modal-----*/


/*-----Containers-----
     
     html body {
         height 100vh;
     }
     
     #content-wrapper {
         display: flex;
         min-height: 100vh;
         flex-direction: column;
     }
     
     #body-wrapper {
         min-height: 100vh;
     }
     
     * {
         box-sizing: border-box;
         max-height: 100vh;
     }
     
     .game-info-container {
         margin-bottom: 5px;
         margin: auto;
     }
     
     .game-info {
         float: left;
         font-family: 'Schoolbell', cursive;
     }
     
     .title-container {
         margin-top: 10px;
         text-align: center;
         border: 1px solid darkgray;
         border-radius: 10px;
         background: rgba(244, 244, 244, 0.4);
     }
     
     .game-container {
         width: 100%;
         margin-top: 20px;
     }
     
     main {
         flex: 1;
     }
     /*-----/Containers-----*/


/*----Game Title and Fonts----
     
     h1 {
         font-family: "Bangers", cursive;
     }
     
     .game-title {
         font-family: "Bangers", cursive;
         color: rgb(36, 36, 46);
         font-size: 70px;
     }
     
     .container-fluid {
         overflow-x: hidden;
     }
     
     #link-info-container {
         color: rgb(165, 3, 3);
         display: flex;
     }
     
     .link-text {
         display: inline;
         font-family: "Bangers", cursive;
         color: rgb(165, 3, 3);
     }
     
     .link-text:hover {
         cursor: pointer;
     }
     /*----Buttons----
     
     .restart-game-button {
         background-color: darkgray;
     }
     /*----Buttons----*/


/*-----Cards-----
     
     .hero-card-container {
         display: flex;
         perspective: 1000px;
     }
     
     .hero-card {
         height: 100px;
         width: 100px;
         border: 2px solid grey;
         border-radius: 10px;
         overflow: hidden;
         display: flex;
         position: relative;
         text-align: center;
         -webkit-transition: -webkit-transform 0.8s;
         transition: -webkit-transform 0.8s;
         -o-transition: transform 0.8s;
         transition: transform 0.8s;
         transition: transform 0.8s, -webkit-transform 0.8s;
         -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
         -webkit-transform: scale(1);
         transform: scale(1);
         -ms-transform: scale(1);
     }
     
     .hero-card:active {
         cursor: grabbing;
         -webkit-transform: scale(0.97);
         -ms-transform: scale(0.97);
         transform: scale(0.97);
         -webkit-transition: -webkit-transform .3s;
         transition: -webkit-transform .3s;
         -o-transition: transform .3s;
         transition: transform .3s;
         transition: transform .3s, -webkit-transform .3s;
     }
     
     .back-logo {
         width: 100%;
         justify-content: center;
     }
     
     .images {
         height: 100px;
         width: 100px;
         background-color: aliceblue;
     }
     /*-----/Cards-----*/


/*----Flip CSS----
     
     .hero-card.flip {
         transform: rotateY(180deg);
     }
     
     .front,
     .back {
         backface-visibility: hidden;
     }
     
     .front {
         backface-visibility: hidden;
     }
     
     .back {
         backface-visibility: hidden;
     }
     /*----/Flip CSS----
     
     .hero-card-container:hover {
         cursor: pointer;
     }
     
     .hero-card:hover {
         cursor: grab;
     }
     /*-----Starting Page-----
     
     #starting-page {
         width: 100vw;
         height: 100vh;
         background: black;
         text-align: center;
         overflow: hidden;
     }
     
     #game-logo {
         width: 100vw;
         height: 60vh;
     }
     /*-----/Starting Page-----*/


/*-----Background Image-----
     
     .dc-background {
         background-image: url("../images/dc/dc_background.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center center;
         background-attachment: fixed;
         height: 100vh;
     }
     
     .marvel-background {
         background-image: url("../images/marvel/marvel_background.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center center;
         background-attachment: fixed;
         height: 100vh;
     }
     /*-----Background Image-----*/


/*-----Modal-----
     
     .modal-image {
         height: 140px;
         width: 140px;
         float: left;
     }
     
     .modal-body {
         max-width: 100vw;
     }
     
     h5 {
         text-align: center;
     }
     /*-----/Modal-----*/


/*-----Media Queries-----
     
     @media screen and (min-width: 768px) {
         .modal-image {
             height: 220px;
             width: 220px;
         }
         .hero-card {
             height: 200px;
             width: 200px;
             border: 2px solid grey;
             border-radius: 10px;
             overflow: hidden;
             transform: scale(1);
         }
         .images {
             height: 200px;
             width: 200px;
         }
         #game-logo {
             width: 100vw;
             height: 70vh;
         }
         .game-title {
             font-family: 'Bangers', cursive;
             padding-top: 20px;
             color: rgb(243, 243, 243);
             font-size: 150px;
             opacity: 1;
         }
     }
     
     @media screen and (min-width: 992px) {
         .hero-card {
             height: 233px;
             width: 233px;
             border: 2px solid grey;
             border-radius: 10px;
             overflow: hidden;
             transform: scale(1);
         }
         .images {
             height: 233px;
             width: 233px;
         }
         #game-logo {
             width: 80vw;
             height: 70vh;
         }
         .game-title {
             font-family: 'Bangers', cursive;
             padding-top: 50px;
             color: rgb(243, 243, 243);
             font-size: 200px;
             opacity: 1;
         }
     }
     /*-----/Media Queries-----*/